html {
	box-sizing: border-box;
	font-size: 62.5%;
}
*, *:before, *:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #000;
}

.header {
	display: flex;
	justify-content: flex-end;
	padding: 2rem;
	background: #000046;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left,  #000046,#1CB5E0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.nav {
	display: flex;
	gap: 3rem;
}
.nav a {
	font-size: 2.3rem;
	color:  #E5E5E5;
}